.section{
  min-height: 70vh;
  text-align: center;
}

.titulo{
  text-align: center;
  display: block;
}

.contenedor-proyectos{
  display: inline-flex;
  direction: row;
}

.lapiz-editar{
  height: 17px;
}

.editar{
  display:inline;
  opacity:70%;
  padding:0px;
  background-color: rgba(74, 74, 74, 0.203);
  border:none;
  padding-left: 3px;
  padding-right: 3px;
  margin: 8px;
  border-radius: 5px;
  transform: translateY(2px);
}

.editar:hover{
  cursor:pointer;
  opacity:95%;
  background-color: rgba(74, 74, 74, 0.398);
}

.proyecto{
  background-color: rgba(0, 0, 255, 0.06);
  margin:20px;
  height: fit-content;
  width: 320px;
  border-radius: 3px;
  padding:5px;
  padding-bottom:20px;
  padding-top:10px;
}

.titulo-proyecto{
  display: block;
}

.descripcion-poyecto{
  display: block;
}

.texto-descripcion-proyecto{
  opacity: 85%;
  font-size: 13px;
  margin:20px;
}

.boton-proyecto{
  border:none;
  background-color: rgba(255, 255, 255, 0.591);
  color:rgba(0, 0, 0, 0.984);
  padding:3px 5px 3px 5px;
  border-radius: 4px;
  font-size: 14px;
}

.boton-proyecto:hover{
  cursor:pointer;
  background-color: rgba(255, 255, 255, 0.885);
}

.imagen-proyecto{
  width:314px;
  border-radius: 3px;
  }

.estado{
  opacity: 50%;
  font-size: 13px;
}

.pantalla-edicion{
  position:absolute;
  background-color: linear-gradient(90deg,rgba(10, 10, 36, 0.641), rgba(0, 0, 0, 0));
  margin:20px;
  width: 320px;
  height: 100px;
  border-radius: 3px;
  padding:5px;
  padding-bottom:20px;
  padding-top:10px;
  opacity: 0%;
}

.pantalla-edicion:hover{
  opacity: 100%;
}

.boton{
  color: rgba(252, 252, 252, 0.647);
  background-color: rgb(20, 28, 55);
  border-radius: 4px ;
  border:none;
  margin-top: 5px;
  cursor:pointer;
  height: 25px;
}

.boton:hover{
  background-color: rgba(56, 63, 80, 0.765);
}

.delete-imagen{
  height: 15px;
}

.boton-editar{
  position: absolute;
  top:10px;
  right: 15px;
}

.boton-eliminar{
  position: absolute;
  top:10px;
  left: 15px;
}
