<div class="section">

      <!-- Formularios -->

      <div id="contenedor-formulario" *ngIf="mostrarEditarProyecto">
        <button class="cerrar" (click)="switchProyecto()"><img class="imagen-cerrar" [src]="Imagen.atras"></button>
        <div class="centrar">
          <app-editar-estudios></app-editar-estudios>
        </div>
      </div>

      <!----------------->

  <p class="titulo">PROYECTOS <button (click)="switchProyecto()">Editar</button></p>
  <div class="contenedor-proyectos">
  <div *ngFor=" let proyecto of Proyectos">
    <div class="proyecto">
      <img class="imagen-proyecto" [src]="proyecto.linkImagen">
      <div class="titulo-proyecto"><p class="texto-titulo-proyecto">{{proyecto.titulo}}</p></div>
      <div class="estado">{{proyecto.estado}}</div>
      <div class="descripcion-proyecto"><p class="texto-descripcion-proyecto">{{proyecto.descripcion}}</p></div>
      <a class="boton-proyecto" href="google.com">Repositorio</a>
    </div>
    </div>
  </div>
</div>

