<form [formGroup]="editarInfo" class="scroll" (ngSubmit)="submit()">
  <div id="contenedor-form-controls">
  <p id="titulo">Informacion de contacto:</p>
  <p><input
    [ngStyle]="editarInfo.get('nombre')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    class="form-control"
    type="text"
    placeholder="Nombre"
    formControlName="nombre">
  </p>
  <p><input
    [ngStyle]="editarInfo.get('apellido')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    class="form-control"
    type="text"
    placeholder="Apellido"
    formControlName="apellido">
  </p>
  <p><input
    [ngStyle]="editarInfo.get('apellido')?.errors?.['email'] && {'background-color': '#FFEEEE'}"
    class="form-control"
    type="email"
    placeholder="Email"
    formControlName="email">
  </p>
  <p><input
    [ngStyle]="editarInfo.get('edad')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    class="form-control"
    type="Number"
    placeholder="Edad"
    formControlName="edad">
  </p>
  <p><input
    class="form-control"
    [ngStyle]="editarInfo.get('titulo')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    type="text"
    placeholder="Titulo o Profesion"
    formControlName="titulo">
  </p>
  <p><input
    class="form-control"
    [ngStyle]="editarInfo.get('telefono')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    type="tel"
    placeholder="Telefono"
    formControlName="telefono">
  </p>
  <p><input
    class="form-control"
    [ngStyle]="editarInfo.get('pais')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    type="text"
    placeholder="Pais"
    formControlName="pais">
  </p>
  <p><input
    class="form-control"
    [ngStyle]="editarInfo.get('ciudad')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    type="text"
    placeholder="Ciudad"
    formControlName="ciudad">
  </p>
  <p><input
    class="form-control"
    [ngStyle]="editarInfo.get('codigopostal')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    type="text"
    placeholder="Codigo postal"
    formControlName="codigopostal">
  </p>
  <p><input
    class="form-control"
    [ngStyle]="editarInfo.get('otro')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    type="text"
    placeholder="Otro"
    formControlName="otro">
  </p>
  <p><textarea
    class="campo-de-texto scroll"
    [ngStyle]="editarInfo.get('sobremi')?.errors?.['required'] && {'background-color': '#FFEEEE'}"
    placeholder="Informacion sobre ti."
    formControlName="sobremi">
  </textarea></p>
  <input
  class="form-control guardar"
  [disabled]="editarInfo.valid !== true"
  value="Guardar"
  type="submit">
  </div>
</form>
