<form [formGroup]="editarInfo" class="scroll" (ngSubmit)="submit()">
  <div id="contenedor-form-controls">
  <p id="titulo">Informacion de contacto:</p>
  <p><input class="form-control" type="text" placeholder="Nombre" formControlName="nombre"></p>
  <p><input class="form-control" type="text" placeholder="Apellido" formControlName="apellido"></p>
  <p><input class="form-control" type="email" placeholder="Email" formControlName="email"></p>
  <p><input class="form-control" type="Number" placeholder="Edad" formControlName="edad"></p>
  <p><input class="form-control" type="text" placeholder="Titulo o Profesion" formControlName="titulo"></p>
  <p><input class="form-control" type="tel"  placeholder="Telefono" formControlName="telefono"></p>
  <p><input class="form-control" type="text" placeholder="Pais" formControlName="pais"></p>
  <p><input class="form-control" type="text" placeholder="Ciudad" formControlName="ciudad"></p>
  <p><input class="form-control" type="text" placeholder="Codigo postal" formControlName="codigopostal"></p>
  <p><input class="form-control" type="text" placeholder="Otro" formControlName="otro"></p>
  <p><textarea class="campo-de-texto scroll" placeholder="Informacion sobre ti." formControlName="sobremi"></textarea></p>
  <input class="form-control guardar" value="Guardar" type="submit">

  </div>
</form>
