<form class="scroll" [formGroup]="editarHabilidad" *ngIf="editar()">

  <div id="contenedor-form-controls">
    <p id="titulo">Editar habilidad:</p>

    <p><input class="form-control"
      type="text"
      [value]="Habilidad.habilidad"
      placeholder="habilidad"
      formControlName="nombre"></p>

    <p><input class="form-control"
      type="text" [value]="Habilidad.nivel"
      placeholder="nivel (1 - 100)"
      formControlName="apellido"></p>

    <input class="form-control guardar"
      value="Guardar"
      type="submit">
  </div>
</form>

<form class="scroll" [formGroup]="agregarHabilidad" *ngIf="agregar()">

  <div id="contenedor-form-controls">
    <p id="titulo">Agregar Habilidad:</p>

    <p><input class="form-control"
      type="text"
      placeholder="habilidad"
      formControlName="nombre"></p>

    <p><input class="form-control"
      type="text"
      placeholder="nivel (1 - 100)"
      formControlName="apellido"></p>

    <input class="form-control guardar"
      value="Guardar"
      type="submit">
  </div>
</form>
