<form (ngSubmit)="enviar()" class="scroll" [formGroup]="editarHabilidad" *ngIf="editar()">

  <div id="contenedor-form-controls">
    <p id="titulo">Editar habilidad:</p>

    <p><input class="form-control"
      type="text"
      placeholder="habilidad"
      formControlName="habilidad"></p>

    <p><input class="form-control"
      type="text"
      placeholder="nivel (1 - 100)"
      formControlName="nivel"></p>

    <input class="form-control guardar"
      value="Guardar"
      type="submit"
      [disabled]="editarHabilidad.invalid"
      >
      <p [ngStyle]="{'color':'green'}">invalido:{{editarHabilidad.invalid}}</p>
  </div>
</form>

<form class="scroll" [formGroup]="agregarHabilidad" *ngIf="agregar()">

  <div id="contenedor-form-controls">
    <p id="titulo">Agregar Habilidad:</p>

    <p><input class="form-control"
      type="text"
      placeholder="habilidad"
      formControlName="habilidad"></p>

    <p><input class="form-control"
      type="text"
      placeholder="nivel (1 - 100)"
      formControlName="nivel"></p>

    <input class="form-control guardar"
      value="Guardar"
      type="submit"
      [disabled]="agregarHabilidad.invalid">
  </div>
</form>
