#contenedorBanner{
  text-align: center;
  margin-top: 15px;
}
#banner{
  width: 95vw;
  opacity: 85%;
  box-shadow: 10px 5px 30px 5px rgba(0, 0, 0, 0.842);
}
#fotoPerfil{
  width: 150px;
  border-radius: 100px;
}

#contenedorPerfil{
  position:absolute;
  left:8vw;
  opacity: 90%;
  transform: translateY(-6vw);
  color:white;
  font-size: 17px;
  font-family: Microsoft PhagsPa ;
  text-align: center;
}

#nombre{
  margin:5px;
  opacity: 50px;
}

#titulo{
  opacity:30%;
  font-size: 14px;
  margin:0px;
}
