<div class="section">

  <!---------- Formularios ----------->

  <div id="contenedor-formulario" *ngIf="mostrarEditarPortada">
    <div class="centrar">
      <app-editar-portada></app-editar-portada>
      <button class="cerrar" (click)="switchPortada()"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
    </div>
  </div>

  <div id="contenedor-formulario" *ngIf="mostrarEditarInfo">
    <div class="centrar">
      <app-editar-info [datos]="datosDeUsuario" ></app-editar-info>
      <button class="cerrar" (click)="switchInfo()"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
    </div>
  </div>

  <div id="contenedor-formulario" *ngIf="mostrarEditarFoto">
    <div class="centrar">
      <app-editar-foto></app-editar-foto>
      <button class="cerrar" (click)="switchFoto()"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
    </div>
  </div>

  <!---------------------------------->

<div id="contenedor-banner">
  <img id="banner" [src]="datosDeUsuario.portada">
  <button id="editar-portada" (click)="switchPortada()"><img id="lapiz-banner" [src]="Imagen.lapiz">Editar portada</button>
</div>

<div id="contenedor-perfil">
  <div id="contenedor-foto">
    <img id="foto-perfil" [src]="datosDeUsuario.perfil">
    <div id="editar-foto" (click)="switchFoto()">
      <img id="lapiz-foto" [src]="Imagen.lapizNegro">
    </div>
  </div>
  <p id="nombre">{{ datosDeUsuario.nombre.toUpperCase() +" "+ datosDeUsuario.apellido.toUpperCase()  }}</p>
  <p id="titulo">{{ datosDeUsuario.titulo }}</p>
</div>

<div id="sobre-mi">SOBRE MI
  <a class="editar" (click)="switchInfo()">
    <img class="lapiz-editar" [src]="Imagen.lapiz">
  </a>
  <p id="sobre-mi-texto">{{datosDeUsuario.sobremi}}</p>
</div>

<div class="informacion-personal" *ngIf="verMas">
  <div class="info-columna">
    <p class="texto-informacion-personal">Edad: {{datosDeUsuario.edad}} Años</p>
    <p class="texto-informacion-personal">Cel: {{datosDeUsuario.telefono}} </p>
  </div>
  <div class="info-columna">
    <p class="texto-informacion-personal">{{datosDeUsuario.ciudad+" ("+datosDeUsuario.codigopostal+")"}}</p>
    <p class="texto-informacion-personal">Email: {{datosDeUsuario.email}}</p>
  </div>
  <div class="info-columna">
    <p class="texto-informacion-personal">Nacionalidad: {{datosDeUsuario.pais}}</p>
    <p class="texto-informacion-personal">{{datosDeUsuario.otro}}
    </p>
  </div>
</div>

  <button id="ver-mas" (click)="verMasClick()">{{verMasTexto}}</button>

</div>

