<div class="section">

    <!--------  Formularios y Ventanas de texto ------->

    <div id="contenedor-formulario" *ngIf="mostrarEditarEstudios">
      <div class="centrar">
        <button class="cerrar" (click)="switchEstudios(objeto,id,accion,null)"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
        <app-editar-estudios [tipo]="objeto" [id]="id" [accion]="accion" [elemento]="elemento"></app-editar-estudios>
      </div>
    </div>

    <div id="contenedor-info" *ngIf="mostrarInfo">
      <div class="centrar">
        <button class="cerrar" (click)="switchInfo('','')"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
        <app-ventana-de-texto [texto]="textoInfo" [titulo]="tituloInfo"></app-ventana-de-texto>
      </div>
    </div>

    <!----------------------------->

  <p class="titulo margin-top">ESTUDIOS</p>

    <!--------  SECUNDARIO --------->
  <div class="contenedor-estudios">
  <div id="estudios">
    <div id="titulo-secundario">
      <p class="titulo2">TITULO SECUNDARIO</p>
      <div *ngIf="logeado" class="botones-titulo-secundario">
        <a class="boton-secundario boton-editar-secundario">
          <abbr title="Editar "><img class="lapiz" [src]="Imagen.lapiz"></abbr>
        </a>
        <button class="boton-secundario">
          <abbr title="Eliminar"><img class="delete delete-secundario" [src]="Imagen.delete"></abbr>
        </button>
      </div>
      <p class="titulo3 margin-bottom">{{TituloSecundario.institucion}}</p>
    </div>
    <div class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

        <!--------  UNIVERSITARIO EN CURSO --------->

    <p *ngIf="logeado || listaUniversitarioEnCurso.length > 0" class="titulo2 margin-top">UNIVERSITARIO EN CURSO</p>
    <div class="descripcion">
        <div *ngFor="let universitario of listaUniversitarioEnCurso">
          <div *ngIf="logeado" class="botones-curso">
            <a class="boton"  (click)="switchEstudios('UniversitarioEnCurso',universitario.id,'editar',universitario)">
              <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
            </a>
            <button class="boton  boton-delete" (click)="eliminarUniversitarioEnCurso(universitario.id)">
              <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
            </button>
          </div>
          <div class="curso">
            <p class="titulo-curso">{{universitario.titulo}}</p>
            <img class="info" [src]="Imagen.info" (click)="switchInfo(universitario.titulo,universitario.descripcion)">
            <p class="titulo3">{{universitario.institucion}}</p>
            <div class="descripcion">
              <p class="texto-descripcion"></p>
            </div>
          </div>
      </div>
      <button *ngIf="logeado" class="mas-boton" (click)="switchEstudios('UniversitarioEnCurso',0,'agregar',null)"><img class="mas-icono" [src]="Imagen.mas" ></button>
      </div>

     <!--------  TITULO UNIVERSITARIO --------->

      <div *ngIf="logeado || listaUniversitario.length > 0" id="terciario">
      <div *ngIf="logeado || listaUniversitarioEnCurso.length > 0" class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

        <p class="titulo2">TITULO UNIVERSITARIO</p>
        <div *ngFor="let universitario of listaUniversitario">

          <div *ngIf="logeado" class="botones-curso">
            <a class="boton" (click)="switchEstudios('Universitario',universitario.id,'editar',universitario)">
              <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
            </a>
            <button class="boton  boton-delete" (click)="eliminarUniversitario(universitario.id)">
              <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
            </button>
          </div>
          <div class="curso">
            <p class="titulo-curso">{{universitario.titulo}}</p>
            <img class="info" [src]="Imagen.info" (click)="switchInfo(universitario.titulo,universitario.descripcion)">
            <p class="titulo3">{{universitario.institucion}}</p>
            <div class="descripcion">
              <p class="texto-descripcion"></p>
            </div>
          </div>
      </div>
      <button *ngIf="logeado" class="mas-boton" (click)="switchEstudios('Universitario',0,'agregar',null)"><img class="mas-icono" [src]="Imagen.mas" ></button>
    </div>
    </div>
    </div>

      <!--------  TITULO TERCIARIO --------->

  <div class="contenedor-estudios">
    <div *ngIf="logeado || listaTerciario.length > 0" id="terciario">
      <p class="titulo2">TITULO TERCIARIO</p>
      <div *ngFor="let terciario of listaTerciario">

        <div *ngIf="logeado" class="botones-curso">
          <a class="boton" (click)="switchEstudios('Terciario',terciario.id,'editar',terciario)">
            <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
          </a>
          <button class="boton  boton-delete" (click)="eliminarTerciario(terciario.id)">
            <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
          </button>
        </div>
        <div class="curso">
          <p class="titulo-curso">{{terciario.titulo}}</p>
          <img class="info" [src]="Imagen.info" (click)="switchInfo(terciario.titulo,terciario.descripcion)">
          <p class="titulo3">{{terciario.institucion}}</p>
          <div class="descripcion">
            <p class="texto-descripcion"></p>
          </div>
        </div>
    </div>
    <button *ngIf="logeado" class="mas-boton"  (click)="switchEstudios('Terciario',0,'agregar',null)"><img class="mas-icono" [src]="Imagen.mas" ></button>
</div>


      <!-----------  CURSOS ------------->

    <div *ngIf="logeado || listaDeCursos.length > 0" id="cursos">

    <div *ngIf="logeado || listaTerciario.length > 0" class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

      <p class="titulo2">CURSOS</p>
      <div *ngFor="let curso of listaDeCursos">

        <div *ngIf="logeado" class="botones-curso">
          <a *ngIf="logeado" class="boton"  (click)="switchEstudios('Cursos',curso.id,'editar',curso)">
            <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
          </a>
          <button *ngIf="logeado" class="boton  boton-delete" (click)="eliminarCurso(curso.id)">
            <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
          </button>
        </div>
        <div class="curso">
          <p class="titulo-curso">{{curso.titulo}}</p>
          <img class="info" [src]="Imagen.info" (click)="switchInfo(curso.titulo,curso.descripcion)">
          <p class="titulo3">{{curso.institucion}}</p>
          <div class="descripcion">
            <p class="texto-descripcion"></p>
          </div>
        </div>
    </div>
    <button *ngIf="logeado" class="mas-boton"  (click)="switchEstudios('Cursos',0,'agregar',null)"><img class="mas-icono" [src]="Imagen.mas" ></button>
  </div>
</div>

</div>

