<div class="section">

    <!-- Formularios -->

    <div id="contenedor-formulario" *ngIf="mostrarEditarEstudios">
      <button class="cerrar" (click)="switchEstudios()"><img class="imagen-cerrar" [src]="Imagen.atras"></button>
      <div class="centrar">
        <app-editar-estudios></app-editar-estudios>
      </div>
    </div>

    <!----------------->

  <p class="titulo margin-top">ESTUDIOS
    <button class="editar" (click)="switchEstudios()">
      <img class="lapiz-editar" [src]="Imagen.lapiz">
    </button>
  </p>

  <div class="contenedor-estudios">
  <div id="estudios">
    <div id="titulo-secundario">
      <p class="titulo2">TITULO SECUNDARIO</p>
      <div class="botones-titulo-secundario">
        <a class="boton-secundario boton-editar-secundario">
          <abbr title="Editar "><img class="lapiz" [src]="Imagen.lapiz"></abbr>
        </a>
        <button class="boton-secundario">
          <abbr title="Eliminar"><img class="delete delete-secundario" [src]="Imagen.delete"></abbr>
        </button>
      </div>
      <p class="titulo3 margin-bottom">{{TituloSecundario.institucion}}</p>
    </div>

    <p class="titulo2">Universitario en curso</p>
    <div class="materias-universitarias">
      <div id="cursos">
        <p class="titulo2">CURSOS</p>
        <div *ngFor="let carrera of UniversitarioIncompleto">

          <div class="botones-curso">
            <a class="boton">
              <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
            </a>
            <button class="boton  boton-delete">
              <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
            </button>
          </div>
          <div class="curso">
            <p class="titulo-curso">{{carrera.carrera}}<img class="info" [src]="Imagen.info"></p>
            <p class="titulo3">{{carrera.institucion}}</p>
            <div class="descripcion">
              <p class="texto-descripcion"></p>
            </div>
          </div>
      </div>
      <button id="mas-boton"><img id="mas-icono" [src]="Imagen.mas" ></button>
    </div>
  </div>

    </div>
    </div>
  </div>

  <div class="contenedor-estudios">
    <div id="cursos">
      <p class="titulo2">CURSOS</p>
      <div *ngFor="let curso of Cursos">

        <div class="botones-curso">
          <a class="boton">
            <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
          </a>
          <button class="boton  boton-delete">
            <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
          </button>
        </div>
        <div class="curso">
          <p class="titulo-curso">{{curso.titulo}}<img class="info" [src]="Imagen.info"></p>
          <p class="titulo3">{{curso.institucion}}</p>
          <div class="descripcion">
            <p class="texto-descripcion"></p>
          </div>
        </div>
    </div>
    <button id="mas-boton"><img id="mas-icono" [src]="Imagen.mas" ></button>
  </div>
</div>
