<div class="section">
  <p class="titulo margin-top">ESTUDIOS<button class="editar"><img class="lapiz-editar" [src]="Imagen.lapiz"></button></p>
  <div class="contenedor-estudios">
  <div id="estudios">
    <div id="titulo-secundario">
      <p class="titulo2">TITULO SECUNDARIO</p>
      <p class="titulo3 margin-bottom">Colegio Nuestra Señora de Guadalupe</p>
    </div>

    <p class="titulo2">MATERIAS UNIVERSITARIAS APROBADAS</p>
    <div class="descripcion">

      <p class="titulo3">Facultad de ciencias economicas - UNL FCE</p>
      <div class="materias">
        <p class="texto-descripcion">Ciencias Sociales - 9</p>
        <p class="texto-descripcion">Introduccion a la Contabilidad - 9</p>
        <p class="texto-descripcion">Analisis Matematico - 7</p>
        <p class="texto-descripcion">Matematica Basica 1ra Parte - 7</p>
      </div>

      <p class="titulo3 margin-top">Facultad ingenieria quimica - UNL FIQ</p>
      <div class="materias">
        <p class="texto-descripcion">Introduccion a la Quimica - 8</p>
        <p class="texto-descripcion">Matematica A (Algebra, Calculo) - 7</p>
        <p class="texto-descripcion">Matematica B (Calculo Vectorial) - 9</p>
      </div>

    </div>
    </div>
  </div>

  <div class="contenedor-estudios">
    <div id="cursos">
      <p class="titulo2">CURSOS</p>

      <p class="titulo2 curso">Programador Web Full-Stack Junior<img class="info" [src]="Imagen.info"></p>
      <p class="titulo3">Argentina Programa</p>
      <div class="descripcion">
        <p class="texto-descripcion"></p>
      </div>

      <p class="titulo2 curso">Fundamentos del Marketing Digital<img class="info" [src]="Imagen.info"></p>
      <p class="titulo3">Google Activate</p>
      <div class="descripcion">
        <p class="texto-descripcion"></p>
      </div>
  </div>
</div>
