html{
  background-color: rgb(1, 3, 33);
  font-family: Microsoft PhagsPa ;
  color: white;
}

body::-webkit-scrollbar{
  width: 9px;
  height: 0px;
  position:absolute;
}
body::-webkit-scrollbar-track{
  background-color: rgb(1, 3, 33);
  position:absolute;
}

body::-webkit-scrollbar-thumb{
  background-color: #ffffff4d;
  border-radius: 7px;
  position:absolute;

}
body::-webkit-scrollbar-thumb:hover{
  background-color: #ffffff91;
}

a{
  text-decoration: none;
  color: white;
}
.section{
  display: block;
}


.cerrar{
  position:absolute;
  top:20px;
  left:20px;
  cursor:pointer;
  border:none;
  opacity:80%;
  background-color: rgba(0, 0, 0, 0);
}

.cerrar:hover{
  opacity: 100%;
}

.imagen-cerrar{
  height: 26px;
}

.centrar{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  direction:row;
}
