<form (ngSubmit)="submitEditar()" *ngIf="accion === 'editar'" class="scroll" [formGroup]="editarEstudio">
  <div id="contenedor-form-controls">
  <p id="titulo">Editar {{" " + objetoTitulo + ":"}} </p>
  <p><input class="form-control" type="text" placeholder="Título" formControlName="titulo"></p>
  <p><input class="form-control" type="text" placeholder="Institución" formControlName="institucion"></p>
  <p><textarea class="campo-de-texto scroll" placeholder="Descripción"></textarea></p>
  <input class="form-control guardar" value="Guardar" type="submit">
  </div>
</form>

<form (ngSubmit)="submitAgregar()" *ngIf="accion === 'agregar'" class="scroll" [formGroup]="agregarEstudio">
  <div id="contenedor-form-controls">
  <p id="titulo">Agregar {{" " + objetoTitulo + ":"}} </p>
  <p><input class="form-control" type="text" placeholder="Título" formControlName="titulo"></p>
  <p><input class="form-control" type="text" placeholder="Institución" formControlName="institucion"></p>
  <p><textarea class="campo-de-texto scroll" placeholder="Descripción"></textarea></p>
  <input class="form-control guardar" value="Guardar" type="submit">
  </div>
</form>
