    <!-- Formularios -->

    <div id="contenedor-formulario" *ngIf="editarExperiencia">
      <div class="centrar">
        <button class="cerrar" (click)="switchExperiencia('',0,null)"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
        <app-editar-experiencia [accion]="accion" [id]="id" [experiencia]="experiencia"></app-editar-experiencia>
      </div>
    </div>

    <!----------------->

  <p id="titulo">EXPERIENCIA</p>

  <div id="contenedor-pestañas">
    <div id="generador-pestañas"*ngFor="let elemento of listaDeExperiencias">
      <div class="pestaña">
        <div class="contenedor-punto">
          <img class="punto-blanco" [src]="Imagen.puntoBlanco">
        </div>

        <div class="descripcion">
          <p class="descripcion-puesto">{{elemento.puesto}}</p>
          <p class="descripcion-empresa">{{elemento.empresa}}</p>
        </div>

        <div class="tiempo">
          <p class="descripcion-tiempo">{{elemento.tiempo + " " + elemento.unidad}}</p>
        </div>

      </div>

      <div *ngIf="logeado" class="botones">

        <a class="boton" (click)="switchExperiencia('editar', elemento.id , elemento)">
          <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
        </a>

        <button class="boton  boton-delete" (click)="eliminarExperiencia(elemento.id)">
          <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
        </button>


      </div>
    </div>
  </div>
  <button *ngIf="logeado" id="mas-boton" (click)="switchExperiencia('agregar',0,null)"><img id="mas-icono" [src]="Imagen.mas" ></button>
