<div class="section"><span id="actualizar-vista"></span>
    <!-- Formularios -->

    <div id="contenedor-formulario" *ngIf="editarExperiencia">
      <button class="cerrar" (click)="switchExperiencia('',0)"><img class="imagen-cerrar" [src]="Imagen.atras"></button>
      <div class="centrar">
        <app-editar-experiencia [accion]="accion" [id]="id"></app-editar-experiencia>
      </div>
    </div>

    <!----------------->

  <p class="titulo">EXPERIENCIA</p>
  <div id="contenedor-pestañas" >
    <div id="generador-pestañas" *ngFor="let elemento of Experiencia">
      <div class="pestaña">
        <div class="contenedor-punto">
          <img class="punto-blanco" [src]="Imagen.puntoBlanco">
        </div>

        <div class="descripcion">
          <p class="descripcion-puesto">{{elemento.puesto}}</p>
          <p class="descripcion-empresa">{{elemento.empresa}}</p>
        </div>

        <div class="tiempo">
          <p class="descripcion-tiempo">{{elemento.tiempo + " " + elemento.unidad}}</p>
        </div>
      </div>

      <div class="botones">

        <a class="boton" (click)="switchExperiencia('editar', elemento.id)" href="#actualizar-vista">
          <abbr title="Editar"><img class="lapiz" [src]="Imagen.lapiz"></abbr>
        </a>

        <button class="boton  boton-delete">
          <abbr title="Eliminar"><img class="delete" [src]="Imagen.delete"></abbr>
        </button>

      </div>
    </div>
  </div>
  <button id="mas-boton" (click)="switchExperiencia('agregar',0)"><img id="mas-icono" [src]="Imagen.mas" ></button>
