.section{
  margin-top: 20px;
  text-align: center;
}

#titulo{
  display:block;
  opacity:90%;
}

p{
  margin:3px;
  text-align: left;
  display: inline;
}

#contenedor-pestañas{
  display: inline;
}

#generador-pestañas{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width:100vw;
  margin-left: 100px;
}

.pestaña{
  background-color:rgba(48, 48, 162, 0.168);
  margin: 15px;
  height: 70px;
  width: 400px;
  display: inline-flex;
  flex-direction: row;
  border-radius: 4px;
  padding: auto;
  align-items: center;
}

.descripcion{
  display:inline-flex;
  flex-direction: column;
  width: 300px;
}


.descripcion-puesto{
  color: rgba(255, 255, 255, 0.826);
}

.descripcion-empresa{
  color: rgba(255, 255, 255, 0.418);
  font-size: 12px;
}

.tiempo{
  color: rgba(255, 255, 255, 0.744);
  width: fit-content;
}

#titulo{
  text-align: center;
  margin-bottom: 25px;
}

.punto-blanco{
  height: 10px;
  margin: 5px;
  display: inline-block;
}

.contenedor-punto{
  width:60px;
}

.botones{
  margin: 10px;
  display: flex;
  flex-direction: column;

}

.boton{
  color: rgba(252, 252, 252, 0.647);
  background-color: rgba(15, 26, 55, 0.664);
  border-radius: 4px ;
  border:none;
  margin-top: 15px;
  cursor:pointer;
  height: 20px;
  width: 20px;
}

.boton:hover{
  background-color: rgba(56, 63, 80, 0.664);
}

.lapiz{
  width:12px;
}
.delete{
  width:10px;
  opacity: 50%;
}
.boton-delete{
  margin-top: 10px;
}

#mas-boton{
  background-color: rgba(47, 48, 78, 0.347);
  border:none;
  cursor:pointer;
  border-radius: 5px;
  margin-top: 20px;
}
#mas-boton:hover{
  background-color: rgba(56, 63, 80, 0.664);
}

#mas-icono{
  height: 10px;
  margin:8px 4px 5px 4px;
  opacity: 80%;
}


#actualizar-vista{
  position:fixed;
  top:0px;
  left:0px;
}

@media (max-width:500px){
  #generador-pestañas{
    width:100vw;
    margin-left: 0px;
  }

  .pestaña{
    height: 70px;
    width: 300px;
  }
}
