.section{
  margin-top: 20px;
  margin-top: 70px;
  text-align: center;
}
#experiencia{
  margin-right:100px;
  margin-left: 100px;
}

p{
  margin:3px;
  text-align: left;
  display: inline;
}

#contenedor-pestañas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width:800vw;
  margin-left: 100px;
}

.pestaña{
  background-color:rgba(2, 1, 11, 0.618);
  margin: 15px;
  height: 70px;
  width: 400px;
  display: inline-flex;
  flex-direction: row;
  border-radius: 4px;
  padding: auto;
  align-items: center;
}

.descripcion{
  display:inline-flex;
  flex-direction: column;
  width: 300px;
}


.descripcion-puesto{
  color: rgba(255, 255, 255, 0.826);
}

.descripcion-empresa{
  color: rgba(255, 255, 255, 0.418);
  font-size: 12px;
}

.tiempo{
  color: rgba(255, 255, 255, 0.744);
  display: inline-block;
  width: fit-content;
}

#titulo{
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.punto-blanco{
  height: 10px;
  margin: 5px;
  display: inline-block;
}

.contenedor-punto{
  width:60px;
}

.botones{
  margin: 15px;
  display: flex;
  flex-direction: column;

}

.boton{
  color: rgba(252, 252, 252, 0.647);
  background-color: rgba(22, 26, 36, 0.664);
  border-radius: 4px ;
  border:none;
  margin-top: 5px;
  cursor:pointer;
  height: 25px;
}

.boton:hover{
  background-color: rgba(56, 63, 80, 0.664);
}

.lapiz{
  width:15px;
}
.delete{
  width:15px;
  opacity: 50%;
}
.boton-delete{
  margin-top: 10px;
}
