<form class="scroll" [formGroup]="editarProyecto" *ngIf="editar()">

  <div id="contenedor-form-controls">
  <p id="titulo">Editar proyecto:</p>
  <p><input class="form-control" type="text" [value]="proyecto.titulo" placeholder="Titulo" formControlName="titulo"></p>
  <p><input class="form-control" type="text" [value]="proyecto.estado" placeholder="Estado" formControlName=""></p>
  <p><input class="form-control" type="text" [value]="proyecto.linkImagen" placeholder="Imagen" formControlName="email" ngModel></p>
  <p><input class="form-control" type="link" [value]="proyecto.linkGitHub" placeholder="Link del repositorio" formControlName="edad"></p>
<p><textarea class="campo-de-texto scroll" [value]="proyecto.descripcion" placeholder="Descripcion del proyecto"></textarea></p>
  <input class="form-control guardar" value="Guardar" type="submit">
  </div>
</form>

<form class="scroll" [formGroup]="agregarProyecto" *ngIf="agregar()">

  <div id="contenedor-form-controls">
  <p id="titulo">Agregar proyecto:</p>
  <p><input class="form-control" type="text" placeholder="Titulo" formControlName="titulo"></p>
  <p><input class="form-control" type="text" placeholder="Estado" formControlName=""></p>
  <p><input class="form-control" type="text" placeholder="Imagen" formControlName="email" ngModel></p>
  <p><input class="form-control" type="link" placeholder="Link del repositorio" formControlName="edad"></p>
<p><textarea class="campo-de-texto scroll" [value]="proyecto.descripcion" placeholder="Descripcion del proyecto"></textarea></p>
  <input class="form-control guardar" value="Guardar" type="submit">
  </div>
</form>
