<span class="test" id="top"></span>

<!-- Formularios -->

<div id="contenedor-formulario" *ngIf="mostrarLogIn">
  <div class="centrar">
    <button class="cerrar" (click)="switchLogIn()"><img class="imagen-cerrar" [src]="Imagen.deleteNegro"></button>
    <app-log-in></app-log-in>
  </div>
</div>

<!----------------->

<div id="nav">
  <a class="boton" [href]="Link.argPrograma" target="_blank">
    <img id="logo-arg-programa"  [src]="Imagen.argPrograma">
    <p id="yo-programo">#YO PROGRAMO</p>
  </a>
  <p *ngIf="log | async">admin</p>
  <div id="login-redes">
    <a [href]="Link.instagram" target="_blank"><img class="logo-red boton"  [src]="Imagen.instagram"></a>
    <a [href]="Link.facebook" target="_blank"><img class="logo-red boton"  [src]="Imagen.facebook"></a>
    <a [href]="Link.gitHub" target="_blank"><img class="logo-red boton"  [src]="Imagen.gitHub"></a>
    <a [href]="Link.linkedin" target="_blank"><img class="logo-red boton"  [src]="Imagen.linkedin"></a>

    <a *ngIf="!log" class="boton" (click)="switchLogIn()"><img  id="log-in" [src]="Imagen.logIn"></a>
    <a *ngIf="log" class="boton" (click)="logOut()"><img  id="log-in" [src]="Imagen.logOut"></a>
</div>
</div>
<app-acerca-de [logeado]="log"></app-acerca-de>
<div class="test"class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

<app-experiencia [logeado]="log"></app-experiencia>
<div class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

<div id="contenedor-subir"><a  href="#top"><button id="boton-subir"><img id="subir-icono" [src]="Imagen.subir"> </button></a></div>

<app-habilidades [logeado]="log"></app-habilidades>
<div class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

<app-estudios [logeado]="log"></app-estudios>
<div class="contenedor-separador"><img class="imagen-separador" [src]="Imagen.separadorBlanco"></div>

<app-proyectos [logeado]="log"></app-proyectos>

<div id="footer">
  <a id="firma-footer">@agugodzic 2022</a>
  <a id="github-footer" [href]="Link.gitHub" target="_blank"><img class="logo-red boton"  [src]="Imagen.gitHub"></a>
  <a id="linkedin-footer" [href]="Link.linkedin" target="_blank"><img class="logo-red boton"  [src]="Imagen.linkedin"></a>
</div>

