
body{
  scroll-behavior: smooth;
}

#top{
  position:absolute;
  margin:0;
  padding:0;
  top:0;
  scroll-behavior: smooth;
}

#nav{
  margin:0;
  width: 100vw;
  display: block;
}

.titulo{
  opacity:30%;
  font-size: 14px;
}

#logo-arg-programa{
  text-align: right;
  display: inline;
  height: 40px;
  cursor:pointer;
}

#login-redes{
  display: inline;
  cursor:pointer;
  position:absolute;
  right: 11px;
  top:10px;
}

#log-in{
  display: inline;
  height: 30px;
  cursor:pointer;
  margin-left: 20px;
}

#botones{
  display: inline;
  cursor:pointer;
}

.boton{
  opacity:60%;
  display:inline
}

.boton:hover{
  opacity:100%;
}

.logo-red{
  display: inline;
  cursor:pointer;
  margin-right: 22px;
  height: 25px;
}

p{
  color:rgb(255, 255, 255);
  display:inline;
  opacity: 50%;
}

#yo-programo{
  position:absolute;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  top:20px;
  opacity: 50%;
}

#boton-subir{
  background-color: rgba(0, 0, 0, 0.357);
  border:none;
  opacity: 70%;
  cursor:pointer;

}

#boton-subir:hover{
  opacity: 85%;
}

#subir-icono{
  height: 25px;
}

#contenedor-subir{
  position:sticky;
  display: block;
  top:90vh;
  width: 98vw;
  text-align: end;
}

.contenedor-separador{
  width: 100vw;
  text-align: center;
}

.imagen-separador{
  width: 90vw;
  height: 3px;
  margin-top: 50px;
  margin-bottom: 0px;
  opacity: 5%;
}

#contenedor-formulario{
  position:fixed;
  height:100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.712);
  z-index:1000;
  display: flex;
  align-items: center;
  margin: 0;
  top:0px;
  left:0px;
}

.imagen-cerrar{
  height: 20px;
}

.cerrar{
  right:10px;
}

.centrar{
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  direction:row;
}

