
<div id="nav">
  <a class="boton">
    <img id="logoArgProg" [src]="Imagen.argPrograma">
  </a>
  <div id="botones"></div>
  <div id="logInRedes">
    <a [href]="Link.instagram"><img class="logoRed boton" [src]="Imagen.instagram"></a>
    <a><img class="logoRed boton" [src]="Imagen.facebook"></a>
    <a><img class="logoRed boton" [src]="Imagen.gitHub"></a>
    <a><img class="logoRed boton" [src]="Imagen.linkedin"></a>

    <a class="boton"><img  id="logIn" [src]="Imagen.logIn"></a>
</div>

<app-acerca-de></app-acerca-de>
<app-habilidades></app-habilidades>
<app-experiencia></app-experiencia>
<app-proyectos></app-proyectos>
<app-estudios></app-estudios>
