.section{
  text-align: center;
  width: 98vw;
}

.habilidad{
  width: max-content;
  height: max-content;
  display: inline-block;
  margin:35px;
  margin-right:20px;
  margin-left: 60px;

}

.titulo{
  margin-bottom: 20px;
  width: 98vw;
}


.titulo-habilidad{
  text-align: center;
  color:rgba(213, 224, 249, 0.815);
}

.editar{
  display:inline;
  opacity:70%;
  padding:0px;
  background-color: rgba(74, 74, 74, 0.203);
  border:none;
  padding-left: 3px;
  padding-right: 3px;
  margin: 8px;
  border-radius: 5px;
  transform: translateY(2px);
}

.lapiz-editar{
  height: 13px;
}

.borrar{
  margin-right:2px;
  margin-left: 2px;
  margin-top: 142px;
  height: 13px;
  opacity: 70%;
}
.editar:hover{
  cursor:pointer;
  opacity:95%;
  background-color: rgba(74, 74, 74, 0.398);
}

.botones{
  background-color:rgba(0, 0, 0, 0.205);
  position: absolute;
  border-radius: 5px;
  height:170px;
  width: 140px;
  transform: translateY(-10px);
  opacity: 0;
  transition:0.1s;
  text-align: center;
}

.botones:hover{
  opacity:100%;
}

.circulo-progreso{
  z-index:2000;
  margin-left: 18px;
}

#contenedor-habilidades{
  transform: translateX(-35px);
}

#contenedor-formulario{
  position:fixed;
  top:0px;
  left:0px;
  height:100vh;
  width: 100vw;
  background-color:rgba(0, 0, 0, 0.712);
  z-index:1000;
  display: flex;
  align-items: center;
  margin: 0;
}

#actualizar-vista{
  position:fixed;
  top:0px;
  left:0px;
}

#mas-boton{
  text-align: center;
  display:block;
  background-color: rgba(47, 48, 78, 0.347);
  border:none;
  cursor:pointer;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  transform: translateX(38px)
}

#mas-boton:hover{
  background-color: rgba(56, 63, 80, 0.664);
}

#mas-icono{
  height: 10px;
  margin:8px 4px 5px 4px;
  opacity: 80%;
}
