<div class="section"><span id="actualizar-vista"></span>

   <!-- Formularios -->

   <div id="contenedor-formulario" *ngIf="mostrarEditarHabilidad">
    <button class="cerrar" (click)="switchHabilidad('',0)"><img class="imagen-cerrar" [src]="Imagen.atras"></button>
    <div class="centrar">
      <app-editar-habilidad [id]="id" [accion]="accion"></app-editar-habilidad>
    </div>
  </div>

  <!----------------->

  <p class="titulo">HABILIDADES</p>

  <div id="contenedor-habilidades">
    <div class="habilidad" *ngFor="let habilidad of Habilidades">
    <circle-progress
    [percent]="habilidad.nivel"
    [title]="habilidad.habilidad"
    [radius]="60"
    [subtitle]="habilidad.nivel.toString()"
    [units]="'%'"
    [subtitleColor]="'#ffffff91'"
    [subtitleFontSize]="'20'"
    [showSubtitle]="false"
    [backgroundPadding]="0"
    ></circle-progress>

    <div class="botones">
      <a class="editar"(click)="switchHabilidad('editar',habilidad.id)" href="#actualizar-vista">
        <img class="lapiz-editar" [src]="Imagen.lapiz">
      </a>
        <a class="editar" href="#actualizar-vista">
          <img class="borrar" [src]="Imagen.delete">
        </a>
    </div>
    </div>

    <button id="mas-boton" (click)="switchHabilidad('agregar',0)"><img id="mas-icono" [src]="Imagen.mas" ></button>

  </div>
</div>

