
<form [formGroup]="logIn" *ngIf="registrado">
  <div id="contenedor-form-controls">
  <p id="titulo">Iniciar Sesión</p>
  <p><input class="form-control" type="text" placeholder="Usuario" formControlName="usuario"></p>
  <p><input class="form-control" type="password" placeholder="Contraseña" formControlName="contraseña"></p>
  <input class="form-control ingresar" value="Ingresar" type="submit">
  <button id="crear-usuario" (click)="crearUsuarioClick()">Crear Usuario</button>
  </div>
</form>

<form [formGroup]="crearUsuario" *ngIf="registrado == false">
  <div id="contenedor-form-controls">
  <p id="titulo">Crear Usuario</p>
  <p><input class="form-control" type="text" placeholder="Usuario" formControlName="usuario"></p>
  <p><input class="form-control" type="email" placeholder="Email" formControlName="contraseña"></p>
  <p><input class="form-control" type="password" placeholder="Contraseña" formControlName="contraseña"></p>
  <p><input class="form-control" type="password" placeholder="Confirmar contraseña" formControlName="contraseña"></p>
  <input class="form-control ingresar" value="Crear" type="submit">
  <button id="crear-usuario" (click)="ingresarClick()">Ya estoy registrado</button>
  </div>
</form>
